
// Primary Color Scheme
$red: #bf0a30;
$white: #ffffff;
$blue: #0a369d;
$light-grey: #e0e0e0;
$dark-grey: #939393;

// Font
$default-font: Bitter;

.App {
  text-align: center;
}

.Header {
  position: absolute;
  top:0px;
  left:0px;
  width:100%;
  background-color: transparent;
  img {
    height:auto;
    width:30%;
    float: left;
  }
  button {
    font-family: $default-font;
    color: $red;
    background-color: $white;
    border: 0;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-transition: background-color 0.25s; /* For Safari 3.1 to 6.0 */
    transition: background-color 0.25s;
    float: right;
  }
  button:hover {
    background-color: #800000;
    color:#ffffff;
  }
}

