
// Primary Color Scheme
$red: #bf0a30;
$white: #ffffff;
$blue: #0a369d;
$light-grey: #e0e0e0;
$dark-grey: #939393;

// Font
$default-font: Bitter;

#map {
  z-index: 0;
  position:absolute;
  background-color: #ffffff;
  left:0px;
  top:0px;
  height:100%;
  width:100%;
}

.Modal {
  font-family: $default-font;
  z-index: 1;
  position:absolute;
  top: 80px;
  //min-height: 20%;
  height: 80%;
  width: 20%;
  background-color: $white;
  border-radius: 15px;
  padding: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  label {
    color: $blue;
  }
  button {
    font-family: $default-font;
    color: $blue;
    background-color: $white;
    border-style: solid;
    border-width: 1px;
    border-color: $blue;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
    -webkit-transition: background-color 0.25s; /* For Safari 3.1 to 6.0 */
    transition: background-color 0.25s;
  }
  button:hover {
    background-color: $blue;
    color: $white;
  }
}

.DisplayModal{
  right: 20px;
  .outputTextarea{
    height: 75%;
    border-style: solid;
    border-width: 1px;
    border-color: $blue;
    border-radius: 10px;
    padding: 10px;
    font-size: 75%;
    overflow: scroll;
  }
}

.ToolModal{
  left: 20px;
  .rc-slider {
    margin-bottom: 10px;
    .rc-slider-handle {
      border-color: $blue;
    }
    .rc-slider-rail {
      background-color: $light-grey;
    }
    .rc-slider-track {
      background-color: $blue;
    }
  }
  .weightContainer {
    display: flex;
    flex-direction: row;
    align-content: center;
    label {
      margin-left: 10px;
    }
  }
}

.Header {
  z-index: 1;
  position: absolute;
  top:0px;
  left:0px;
  width:100%;
  background-color: transparent;
  img {
    height:auto;
    width:30%;
    float: left;
  }
  button {
    font-family: $default-font;
    color: $red;
    background-color: $white;
    border: 0;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: background-color 0.25s; /* For Safari 3.1 to 6.0 */
    transition: background-color 0.25s;
    float: right;
  }
  button:hover {
    background-color: $red;
    color: $white;
  }
}

