
// Primary Color Scheme
$red: #bf0a30;
$white: #ffffff;
$blue: #0a369d;
$light-grey: #e0e0e0;
$dark-grey: #939393;

// Font
$default-font: Bitter;

#map {
  z-index: 0;
  position:absolute;
  background-color: #ffffff;
  left:0px;
  top:0px;
  height:100%;
  width:100%;
}

.Modal {
  z-index: 1;
  position:absolute;
  bottom: 40px;
  height: 80%;
  width: 20%;
  background-color: $white;
  border-radius: 15px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.DisplayModal{
  right: 20px;
}

.ToolModal{
  left: 20px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  padding: 10px;
  input[type="range"]{
    margin: 0;
    width:100%;
  }
  button{
    width: 100%;
  }
}

.Header {
  z-index: 1;
  position: absolute;
  top:0px;
  left:0px;
  width:100%;
  background-color: transparent;
  img {
    height:auto;
    width:30%;
    float: left;
  }
  button {
    font-family: $default-font;
    color: $red;
    background-color: $white;
    border: 0;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-transition: background-color 0.25s; /* For Safari 3.1 to 6.0 */
    transition: background-color 0.25s;
    float: right;
  }
  button:hover {
    background-color: $red;
    color:$white;
  }
}

